@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "MuseoSansCyrl-500";
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.header {
  height: 80px;
}

.header .container {
  position: relative;
}

.header .container .heder__logo {
  font-family: "MuseoSansCyrl-700";
  font-size: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #333333;
}

.header .container .menu__items {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  font-size: 15px;
}

.header .container .menu__items a {
  text-decoration: none;
  color: #333333;
}

.header .container .menu__items a li {
  list-style: none;
  margin-right: 32px;
}

.header .container .header__language {
  display: inline-block;
  padding: 13px 45px 13px 15px;
  border: 1px solid;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  right: 260px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .container .header__language .header__language-triangle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 20px;
  top: 17px;
}

.header .container .header__singin {
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  padding: 13px 24px;
  background-color: #6248ff;
}

.info {
  background-color: #efedff;
  padding: 139px 0 183px;
}

.info .container .info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .container .info__title {
  font-size: 64px;
  color: #333;
  max-width: 585px;
  margin-bottom: 32px;
}

.info .container .info__text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  max-width: 485px;
  margin-bottom: 68px;
}

.info .container .ingo__graph {
  max-width: 50%;
}

.info .container .info__start {
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 64px;
  color: #fff;
  background-color: #6248ff;
}

.steps {
  padding: 140px 0;
}

.steps .container {
  position: relative;
}

.steps .container .steps__title {
  font-size: 54px;
  max-width: 485px;
  margin-bottom: 60px;
}

.steps .container .steps__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps .container .steps__items .steps__item {
  max-width: 483px;
  padding: 32px;
  border: 2px solid #6248ff;
  border-radius: 30px;
  margin-bottom: 20px;
}

.steps .container .steps__items .steps__item .steps__item-score {
  display: block;
  font-size: 15px;
  color: #6248ff;
}

.steps .container .steps__items .steps__item .steps__item-title {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.steps .container .steps__items .steps__item .steps__item-text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.comments {
  padding-bottom: 140px;
}

.comments .container {
  position: relative;
}

.comments .comments__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments .comments__title {
  max-width: 483px;
  font-size: 56px;
  margin-right: 132px;
}

.comments .comments__slider {
  max-width: 585px;
}

.comments .comments__slider .comments__slider-item {
  position: relative;
  padding-left: 50px;
}

.comments .comments__slider .comments__slider-item .comments__slide-photo {
  margin-bottom: 15px;
}

.comments .comments__slider .comments__slider-item .comments__slide-name {
  position: absolute;
  top: 17px;
  left: 153px;
  font-size: 18px;
  color: #333;
}

.comments .comments__slider .comments__slider-item .comments__slide-position {
  position: absolute;
  top: 45px;
  left: 153px;
  font-size: 16px;
  color: #4f4f4f;
  font-family: "Montserrat", sans-serif;
}

.comments .comments__slider .comments__slider-item .comments__slide-text {
  color: #333;
  font-size: 24px;
}

.comments .comments__slider .comments__slider-item .comments__slide-dec {
  position: absolute;
  top: 93px;
  left: 0px;
}

.comments .comments__slider-out {
  color: #6248FF;
  position: absolute;
  top: 220px;
  right: 610px;
}

.slick-arrow {
  position: relative;
  z-index: 3;
  padding: 20px;
  border: 1px solid #6248ff;
  border-radius: 50%;
  cursor: pointer;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 175px;
  left: -50px;
}

.slick-prev {
  left: -100px;
}

.slick-prev:before {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "icomoon";
  content: "\f104";
  color: #000;
}

.slick-next:before {
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "icomoon";
  content: "\f105";
  color: #000;
}
/*# sourceMappingURL=style.css.map */